@import "gruvbox-dark"

* {
  highlight: bold;
  scrollbar: false;

  gruvbox-dark-bg1: #3c3836;
}

window {
  width: 800px;
  border: 0;
  border-radius: 8px;
  padding: 8px;

  background-color: @gruvbox-dark-bg1;
}

listview {
  border:  0;
  padding: 8px;
  lines:   10;
  columns: 2;
}

inputbar {
  children: [ prompt, textbox-prompt-sep, entry ];
  padding: 8px;
}
