gui:
  commandLogSize: 16
  commitHashLength: 7
  expandFocusedSidePanel: true
  filterMode: fuzzy
  nerdFontsVersion: '3'
  portraitMode: never
  scrollHeight: 8
  showBottomLine: false
  showFileTree: true
  showRandomTip: false
  skipDiscardChangeWarning: true
  skipRewordInEditorWarning: true
  tabWidth: 2
  timeFormat: '2006-01-02 15:04'
  authorColors:
    '*': green
    'Oskar Grunning': magenta
  branchColors:
    'chore': green
    'docs': blue
    'feat': magenta
    'fix': yellow
    'main': red
    'master': red
  theme:
    activeBorderColor:
      - '#5858a0'
      - bold
    inactiveBorderColor:
      - '#686a78'
    searchingActiveBorderColor:
      - '#5858a0'
      - bold
    optionsTextColor:
      - '#5858a0'
    cherryPickedCommitBgColor:
      - '#bdbfc5'
    cherryPickedCommitFgColor:
      - '#5858a0'
      - bold
    markedBaseCommitFgColor:
      - '#5858a0'
    markedBaseCommitBgColor:
      - '#806010'
    unstagedChangesColor:
      - '#b82530'
    defaultFgColor:
      - '#4c4e5e'
    selectedLineBgColor:
      - '#bdbfc5'
  border: 'rounded'
git:
  autoFetch: false
  log:
    showGraph: 'always'
  overrideGpg: true
  pagers:
    - colorArg: always
      pager: delta --light --syntax-theme="Catppuccin Latte" --minus-style='syntax "#e6d6d3"' --minus-emph-style='syntax "#c9a5aa"' --plus-style='syntax "#d0e2d0"' --plus-emph-style='syntax "#a5c9a2"' --paging=never --tabs 2 --line-numbers --hyperlinks --hyperlinks-file-link-format="lazygit-edit://{path}:{line}"
  parseEmoji: true
  skipHookPrefix: 'draft: '
keybinding:
  branches:
    viewGitFlowOptions: ''
  commits:
    renameCommitWithEditor: 'r'
    renameCommit: ''
  files:
    openMergeOptions: ''
customCommands:
  - key: 'f'
    context: 'files, localBranches, remoteBranches, remotes, tags, worktrees'
    command: 'git pull --ff-only --all --prune > /dev/null 2>&1 || true'
    description: 'Fast-forward'
  - key: 'M'
    context: 'files, worktrees'
    command: 'term "nvim -c CodeDiff"'
    description: 'Open merge tool'
  - key: 'W'
    command: git commit --no-verify
    context: 'global'
    output: terminal
notARepository: 'quit'
promptToReturnFromSubprocess: false
quitOnTopLevelReturn: true
