environment {
  ELECTRON_OZONE_PLATFORM_HINT "auto"
  GDK_BACKEND "wayland,x11,*"
  QT_AUTO_SCREEN_SCALE_FACTOR "1"
  QT_QPA_PLATFORM "wayland;xcb"
  SDL_VIDEODRIVER "wayland"
}

prefer-no-csd
screenshot-path "~/download/%Y-%m-%d-%H-%M-%S.png"

hotkey-overlay {
  skip-at-startup
}

cursor {
    xcursor-theme "Bibata-Modern-Ice"
    xcursor-size 24
}

input {
  disable-power-key-handling

  keyboard {
    repeat-delay 500
    repeat-rate 25
    xkb {
      layout "se"
      variant "nodeadkeys"
      options "caps:backspace"
    }
    numlock
  }
  touchpad {
    accel-profile "adaptive"
    accel-speed 0
    click-method "button-areas"
    drag false
    dwt
    scroll-method "two-finger"
    tap
  }
  mouse {
    accel-profile "flat"
    accel-speed 0.6
  }

  focus-follows-mouse max-scroll-amount="0%"
}

gestures {
  hot-corners { off; }
}

layout {
  background-color "transparent"
  gaps 8
  center-focused-column "never"
  preset-column-widths {
    proportion 0.33333
    proportion 0.5
    proportion 0.66667
    proportion 1.0
  }
  preset-window-heights {
    proportion 0.33333
    proportion 0.5
    proportion 0.66667
    proportion 1.0
  }
  default-column-width {
    proportion 0.5
  }
  focus-ring {
    width 2.5
    active-color "#5858a0"
    inactive-color "#92949f"
  }
  border {
    off
  }
  shadow {
    draw-behind-window false
    softness 10
    spread 0
    offset x=0 y=5
    color "#0004"
  }
  tab-indicator {
    position "left"
    width 4
    length total-proportion=0.8
    gap 8
    gaps-between-tabs 8
    corner-radius 4
    active-color "#5858a0"
    place-within-column
  }
}

animations {
  on
  slowdown 0.6
}

overview {
  workspace-shadow {
    softness 40
    spread 20
    offset x=0 y=10
    color "#0007"
  }
}

recent-windows {
  open-delay-ms 0

  highlight {
    active-color "#5858a0"
    corner-radius 8
    padding 16
  }

  binds {
    Mod+Tab { next-window scope="output"; }
    Mod+Shift+Tab { previous-window scope="output"; }
  }
}

layer-rule {
  match namespace="^noctalia-overview*"
  place-within-backdrop true
}

output "Dell Inc. DELL S3422DWG 8BB3TH3" {
  layout {
    default-column-width { proportion 0.33333; }
  }
}

output "LG Electronics 38GN950 206NTEP67796" {
  layout {
    default-column-width { proportion 0.33333; }
  }
}

window-rule {
  geometry-corner-radius 8
  clip-to-geometry true
}

window-rule {
  match is-floating=true
  shadow { on; }
}

layer-rule {
  match namespace="^rofi$"
  shadow { on; }
  geometry-corner-radius 8
}


window-rule {
  match app-id=r#"(?i)^pinentry"#
  open-floating true
}

window-rule {
  match app-id="mpv"
  open-floating true
  default-floating-position x=8 y=8 relative-to="bottom-right"
}

window-rule {
  match app-id=r#"^chrome-"#
  exclude app-id=r#"^chrome-cad\.onshape\.com"#
  open-floating true
}

// Startup
spawn-at-startup "sh" "-c" "$SCRIPTS/niri/init.sh"

spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
spawn-at-startup "gnome-keyring-daemon" "--start" "--components=pkcs11,secrets"
spawn-at-startup "kanshi"
spawn-at-startup "niri-float-sticky"
spawn-at-startup "sh" "-c" "sleep 4 && easyeffects --gapplication-service"
spawn-at-startup "swayidle" "-w" \
    "before-sleep" "qs msg -c noctalia-shell lockScreen lock" \
    "timeout" "300" "qs msg -c noctalia-shell lockScreen lock" \
    "resume" "niri msg action power-on-monitors"
spawn-at-startup "wl-paste" "--watch" "cliphist" "store"

binds {
  // Programs
  Mod+D repeat=false { spawn "sh" "-c" "$SCRIPTS/menus/apps.sh"; }
  Mod+Shift+D repeat=false { spawn "sh" "-c" "$SCRIPTS/menus/run.sh"; }
  Mod+E repeat=false { spawn "sh" "-c" "$SCRIPTS/menus/emoji.sh"; }
  Mod+Return { spawn "term"; }
  Mod+Shift+Return { spawn "sh" "-c" "$SCRIPTS/niri/kitty-cwd.sh term"; }
  Mod+Shift+Q repeat=false { spawn "sh" "-c" "$SCRIPTS/menus/state.sh"; }
  Mod+U repeat=false { spawn "sh" "-c" "$SCRIPTS/menus/passwords.sh"; }
  Mod+X repeat=false { spawn "qs" "msg" "-c" "noctalia-shell" "lockScreen" "lock"; }
  Mod+Y repeat=false { spawn "term" "yazi"; }
  Mod+Shift+Y repeat=false { spawn "sh" "-c" "$SCRIPTS/niri/kitty-cwd.sh term yazi"; }

  // Notifications
  Mod+Odiaeresis repeat=false { spawn "qs" "msg" "-c" "noctalia-shell" "notifications" "dismissOldest"; }
  Mod+Shift+Odiaeresis repeat=false { spawn "qs" "msg" "-c" "noctalia-shell" "notifications" "clear"; }

  // Focus: Windows
  Mod+H { focus-column-left; }
  Mod+J { focus-window-or-workspace-down; }
  Mod+K { focus-window-or-workspace-up; }
  Mod+L { focus-column-right; }

  Mod+Left { focus-column-left; }
  Mod+Down { focus-window-or-workspace-down; }
  Mod+Up { focus-window-or-workspace-up; }
  Mod+Right { focus-column-right; }

  // Focus: Monitors
  Mod+Ctrl+H { focus-monitor-left; }
  Mod+Ctrl+J { focus-monitor-down; }
  Mod+Ctrl+K { focus-monitor-up; }
  Mod+Ctrl+L { focus-monitor-right; }

  Mod+Ctrl+Left { focus-monitor-left; }
  Mod+Ctrl+Down { focus-monitor-down; }
  Mod+Ctrl+Up { focus-monitor-up; }
  Mod+Ctrl+Right { focus-monitor-right; }

  // Move: Windows
  Mod+Shift+H { move-column-left; }
  Mod+Shift+J { move-window-down-or-to-workspace-down; }
  Mod+Shift+K { move-window-up-or-to-workspace-up; }
  Mod+Shift+L { move-column-right; }

  Mod+Shift+Left { move-column-left; }
  Mod+Shift+Down { move-window-down-or-to-workspace-down; }
  Mod+Shift+Up { move-window-up-or-to-workspace-up; }
  Mod+Shift+Right { move-column-right; }

  // Move: To Monitors
  Mod+Shift+Ctrl+H { move-column-to-monitor-left; }
  Mod+Shift+Ctrl+J { move-column-to-monitor-down; }
  Mod+Shift+Ctrl+K { move-column-to-monitor-up; }
  Mod+Shift+Ctrl+L { move-column-to-monitor-right; }

  Mod+Shift+Ctrl+Left { move-column-to-monitor-left; }
  Mod+Shift+Ctrl+Down { move-column-to-monitor-down; }
  Mod+Shift+Ctrl+Up { move-column-to-monitor-up; }
  Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }

  // Workspaces
  Mod+1 { focus-workspace 1; }
  Mod+2 { focus-workspace 2; }
  Mod+3 { focus-workspace 3; }
  Mod+4 { focus-workspace 4; }
  Mod+5 { focus-workspace 5; }
  Mod+6 { focus-workspace 6; }
  Mod+7 { focus-workspace 7; }
  Mod+8 { focus-workspace 8; }
  Mod+9 { focus-workspace 9; }
  Mod+0 { focus-workspace 10; }
  Mod+BackSpace { focus-workspace-previous; }

  Mod+Shift+1 { move-column-to-workspace 1; }
  Mod+Shift+2 { move-column-to-workspace 2; }
  Mod+Shift+3 { move-column-to-workspace 3; }
  Mod+Shift+4 { move-column-to-workspace 4; }
  Mod+Shift+5 { move-column-to-workspace 5; }
  Mod+Shift+6 { move-column-to-workspace 6; }
  Mod+Shift+7 { move-column-to-workspace 7; }
  Mod+Shift+8 { move-column-to-workspace 8; }
  Mod+Shift+9 { move-column-to-workspace 9; }
  Mod+Shift+0 { move-column-to-workspace 10; }

  Mod+Ctrl+1 { move-workspace-to-index 1; }
  Mod+Ctrl+2 { move-workspace-to-index 2; }
  Mod+Ctrl+3 { move-workspace-to-index 3; }
  Mod+Ctrl+4 { move-workspace-to-index 4; }
  Mod+Ctrl+5 { move-workspace-to-index 5; }
  Mod+Ctrl+6 { move-workspace-to-index 6; }
  Mod+Ctrl+7 { move-workspace-to-index 7; }
  Mod+Ctrl+8 { move-workspace-to-index 8; }
  Mod+Ctrl+9 { move-workspace-to-index 9; }
  Mod+Ctrl+0 { move-workspace-to-index 10; }

  Mod+Ctrl+N { move-workspace-down; }
  Mod+Ctrl+P { move-workspace-up; }

  // Windows
  Mod+O repeat=false { toggle-window-floating; }
  Mod+Shift+O repeat=false { switch-focus-between-floating-and-tiling; }
  Mod+Q repeat=false { close-window; }
  Mod+S repeat=false { toggle-overview; }
  Mod+Z repeat=false { fullscreen-window; }
  Mod+Shift+Z repeat=false { toggle-windowed-fullscreen; }

  // Columns
  Mod+C repeat=false { center-column; }
  Mod+Comma { consume-or-expel-window-left; }
  Mod+M repeat=false { maximize-column; }
  Mod+Period { consume-or-expel-window-right; }
  Mod+W repeat=false { toggle-column-tabbed-display; }

  // Sizing
  Mod+Minus { set-column-width "-5%"; }
  Mod+Plus { set-column-width "+5%"; }
  Mod+Shift+Minus { set-window-height "-5%"; }
  Mod+Shift+Plus { set-window-height "+5%"; }

  Mod+F { switch-preset-column-width; }
  Mod+Shift+F { switch-preset-window-height; }

  // Screenshots
  Print repeat=false { screenshot-screen; }
  Shift+Print repeat=false { screenshot; }

  // Hardware
  XF86AudioLowerVolume allow-when-locked=true { spawn "qs" "msg" "-c" "noctalia-shell" "volume" "decrease"; }
  XF86AudioMicMute allow-when-locked=true repeat=false { spawn "qs" "msg" "-c" "noctalia-shell" "volume" "muteInput"; }
  XF86AudioMute allow-when-locked=true repeat=false { spawn "qs" "msg" "-c" "noctalia-shell" "volume" "muteOutput"; }
  XF86AudioNext allow-when-locked=true { spawn "qs" "msg" "-c" "noctalia-shell" "media" "next"; }
  XF86AudioPlay allow-when-locked=true repeat=false { spawn "qs" "msg" "-c" "noctalia-shell" "media" "playPause"; }
  XF86AudioPrev allow-when-locked=true { spawn "qs" "msg" "-c" "noctalia-shell" "media" "previous"; }
  XF86AudioRaiseVolume allow-when-locked=true { spawn "qs" "msg" "-c" "noctalia-shell" "volume" "increase"; }
  XF86AudioStop allow-when-locked=true repeat=false { spawn "qs" "msg" "-c" "noctalia-shell" "media" "stop"; }
  XF86MonBrightnessDown allow-when-locked=true { spawn "qs" "msg" "-c" "noctalia-shell" "brightness" "decrease"; }
  XF86MonBrightnessUp allow-when-locked=true { spawn "qs" "msg" "-c" "noctalia-shell" "brightness" "increase"; }
}
