cursor {
    xcursor-theme "Bibata-Modern-Ice"
    xcursor-size 24
    hide-when-typing
    hide-after-inactive-ms 10000
}

input {
  keyboard {
    repeat-delay 200
    repeat-rate 25
    xkb {
      layout "se"
      options "caps:backspace"
    }
    numlock
  }
  touchpad {
    accel-profile "adaptive"
    accel-speed 0.2
    click-method "clickfinger"
    drag false
    dwt
    scroll-method "two-finger"
    tap
  }
  warp-mouse-to-focus
  focus-follows-mouse
}

output "eDP-1" {
  mode "2560x1600@165.004"
  scale 1.2
  transform "normal"
}

layout {
  gaps 16
  center-focused-column "never"
  preset-column-widths {
    proportion 0.33333
    proportion 0.5
    proportion 0.66667
  }
  default-column-width {
    proportion 0.5
  }
  focus-ring {
    width 2
    active-color "#7fc8ff"
    inactive-color "#505050"
  }
  border {
    off
  }
  shadow {
    on
    draw-behind-window false
    softness 10
    spread 2
    offset x=0 y=5
    color "#0007"
  }
}

spawn-at-startup "waybar"
spawn-at-startup "wl-paste" "--watch" "cliphist" "store"

spawn-at-startup "gsettings" "set" "org.gnome.desktop.interface" "cursor-theme" "Bibata-Modern-Ice"
spawn-at-startup "gsettings" "set" "org.gnome.desktop.interface" "cursor-size" "24"

hotkey-overlay {
  skip-at-startup
}

prefer-no-csd

screenshot-path "~/pictures/%Y-%m-%d %H-%M-%S.png"

animations {
  on
  slowdown 0.4
}

overview {
  backdrop-color "#1a1b26"
  workspace-shadow {
    softness 60
    spread 20
    offset x=0 y=10
    color "#0007"
  }
}

window-rule {
  geometry-corner-radius 8
  clip-to-geometry true
}

binds {
  // Programs
  Mod+D { spawn "fuzzel"; }
  Mod+Return { spawn "kitty"; }
  Mod+X { spawn "swaylock"; }

  // Focus
  Mod+H { focus-column-left; }
  Mod+J { focus-window-or-workspace-down; }
  Mod+K { focus-window-or-workspace-up; }
  Mod+L { focus-column-right; }
  Mod+Left { focus-column-left; }
  Mod+Down { focus-window-or-workspace-down; }
  Mod+Up { focus-window-or-workspace-up; }
  Mod+Right { focus-column-right; }

  // Move
  Mod+Shift+H { move-column-left; }
  Mod+Shift+J { move-window-down-or-to-workspace-down; }
  Mod+Shift+K { move-window-up-or-to-workspace-up; }
  Mod+Shift+L { move-column-right; }
  Mod+Shift+Left { move-column-left; }
  Mod+Shift+Down { move-window-down-or-to-workspace-down; }
  Mod+Shift+Up { move-window-up-or-to-workspace-up; }
  Mod+Shift+Right { move-column-right; }
  Mod+Shift+Ctrl+H { move-column-to-monitor-left; }
  Mod+Shift+Ctrl+J { move-column-to-monitor-down; }
  Mod+Shift+Ctrl+K { move-column-to-monitor-up; }
  Mod+Shift+Ctrl+L { move-column-to-monitor-right; }
  Mod+Shift+Ctrl+Left { move-column-to-monitor-left; }
  Mod+Shift+Ctrl+Down { move-column-to-monitor-down; }
  Mod+Shift+Ctrl+Up { move-column-to-monitor-up; }
  Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }

  // Workspaces
  Mod+1 { focus-workspace 1; }
  Mod+2 { focus-workspace 2; }
  Mod+3 { focus-workspace 3; }
  Mod+4 { focus-workspace 4; }
  Mod+5 { focus-workspace 5; }
  Mod+6 { focus-workspace 6; }
  Mod+7 { focus-workspace 7; }
  Mod+8 { focus-workspace 8; }
  Mod+9 { focus-workspace 9; }
  Mod+BackSpace { focus-workspace-previous; }
  Mod+Shift+1 { move-column-to-workspace 1; }
  Mod+Shift+2 { move-column-to-workspace 2; }
  Mod+Shift+3 { move-column-to-workspace 3; }
  Mod+Shift+4 { move-column-to-workspace 4; }
  Mod+Shift+5 { move-column-to-workspace 5; }
  Mod+Shift+6 { move-column-to-workspace 6; }
  Mod+Shift+7 { move-column-to-workspace 7; }
  Mod+Shift+8 { move-column-to-workspace 8; }
  Mod+Shift+9 { move-column-to-workspace 9; }

  // Windows
  Mod+F { fullscreen-window; }
  Mod+Q { close-window; }
  Mod+T { toggle-window-floating; }
  Mod+Shift+T { switch-focus-between-floating-and-tiling; }
  Mod+Tab { toggle-overview; }
  Mod+Shift+Tab { toggle-overview; }

  // Columns
  Mod+C { center-column; }
  Mod+Comma { consume-or-expel-window-left; }
  Mod+M { maximize-column; }
  Mod+Period { consume-or-expel-window-right; }
  Mod+R { switch-preset-column-width; }
  Mod+W { toggle-column-tabbed-display; }
  Mod+Shift+M { expand-column-to-available-width; }

  // Sizing
  Mod+Minus { set-column-width "-10%"; }
  Mod+Plus { set-column-width "+10%"; }
  Mod+Shift+Minus { set-window-height "-10%"; }
  Mod+Shift+Plus { set-window-height "+10%"; }

  // Hardware
  XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
  XF86AudioMicMute allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }
  XF86AudioMute allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
  XF86AudioNext allow-when-locked=true { spawn-sh "playerctl next"; }
  XF86AudioPlay allow-when-locked=true { spawn-sh "playerctl play-pause"; }
  XF86AudioPrev allow-when-locked=true { spawn-sh "playerctl previous"; }
  XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+ -l 1.0"; }
  XF86AudioStop allow-when-locked=true { spawn-sh "playerctl stop"; }
  XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }
  XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
}
